In [1]:
import requests
import numpy as np
from tqdm import tqdm
from bs4 import BeautifulSoup

In [2]:
import pandas as pd
depute = pd.read_csv("data_02_links_depute.csv", header=None).values.flatten()

In [3]:
def get_depute_data(vector):
    annees, typer, remunerations = list(), list(), list()
    for i in list(np.arange(len(vector), step=3)):
        annees.append(int(vector[i].strip()))
    for i in list(np.arange(1, len(vector), step=3)):
        remunerations.append(int("".join(vector[i].strip().split(" ")[:-1])))
    for i in list(np.arange(2, len(vector), step=3)):
        typer.append(vector[i].strip())
    return annees, typer,remunerations

In [4]:
noms, annees, typers, remunerations = list(), list(), list(), list()

In [5]:
for dep in tqdm(depute[:250]):
    req = requests.get(dep)
    soup = BeautifulSoup(req.text, "html.parser")
    td_list = [x.text for x in soup.find_all("td")]
    annee, typer, remuneration = get_depute_data(td_list)
    nom_depute = dep.split("?")[-1].split("=")[-1]
    nom_depute = np.repeat(nom_depute, len(annee))
    noms.append(nom_depute), annees.append(annee); typers.append(typer); remunerations.append(remuneration)

100%|████████████████████████████████████████████████████████████████████████████████| 250/250 [08:51<00:00,  2.53s/it]

In [6]:
noms_d = np.concatenate(noms)
annees_d = np.concatenate(annees)
remunerations_d = np.concatenate(remunerations)
typers_d = np.concatenate(typers)

In [7]:
data = pd.DataFrame([noms_d, annees_d, remunerations_d, typers_d]).T
data.columns = ["noms","annees","remuneration","type"]

In [8]:
data.shape

(5541, 4)

In [9]:
data.head()

          noms annees remuneration  type
0  abad-damien   2015            0  Brut
1  abad-damien   2016            0  Brut
2  abad-damien   2017            0  Brut
3  abad-damien   2017            0  Brut
4  abad-damien   2018            0  Brut

In [11]:
data.to_csv("data_03_full_01.csv", index=None)