In [1]:
import numpy as np
import pandas as pd

In [2]:
all_data_1 = pd.read_csv("data/data_03_full_01.csv")
all_data_2 = pd.read_csv("data/data_03_full_02.csv")

In [3]:
all_data = pd.concat([all_data_1, all_data_2])

In [4]:
all_data.shape

(10337, 4)

In [16]:
resume_dep = all_data[all_data.columns[[0,2]]].groupby("noms").mean().sort_values("remuneration", ascending=False)

In [17]:
resume = pd.DataFrame([resume_dep.index, resume_dep.remuneration]).T

In [22]:
resume.columns = ["depute","salaire_moyen"]

In [24]:
resume.head(5)

              depute salaire_moyen
0    gauvain-raphael        164275
1  lardet-frederique        138424
2  bachelier-florian        131385
3        fuchs-bruno        126945
4    laqhila-mohamed        125864

In [25]:
resume.tail(5)

                        depute salaire_moyen
525           braun-pivet-yael             0
526             reiss-frederic             0
527                habib-david             0
528       bourguignon-brigitte             0
529  morel-a-l-huissier-pierre      -514.778

Sauvegarde

In [26]:
resume.to_csv("salaires-moyens.csv", index=None)